body {
  background: #000000;
  color: #ffffff;
}

.dashboard {
}

.gauge {
  position: relative;
  display: inline-block;
  background: #333333;
}

.gauge-info-wrapper {
  display: block;
  align-items: center;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

.gauge-info {
  flex-grow: 1;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.gauge-value-text-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
}

.gauge-value-text {
  flex-grow: 1;
  text-align: center;
}

.gauge-inner-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
}

.gauge-inner {
}

.gauge-inner .arc-background {
  stroke: #000000;
}

.gauge-inner .arc-foreground {
  stroke: #00FF00;
}

.gauge-inner .arc-arrow {
  stroke: #FFFFFF;
}

.gauge .gauge-update-indicator {
  position: absolute;
  bottom: 4px;
  right: 4px;
  width: 4px;
  height: 4px;
}

.gauge .gauge-update-indicator.age-new {
  background: #00FF00;
}

.gauge .gauge-update-indicator.age-valid {
  background: #FFFF00;
}

.gauge .gauge-update-indicator.age-expired {
  background: #FF0000;
}

.gauge .gauge-update-indicator.age-unknown {
  display: none;
}
