body {
  background: #000000;
  color: #ffffff;
}

.dashboard {
}

.gauge {
  position: relative;
  display: inline-block;
  background: #333333;
}

.gauge-info-wrapper {
  display: block;
  align-items: center;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

.gauge-info {
  flex-grow: 1;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.gauge-value-text-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
}

.gauge-value-text {
  flex-grow: 1;
  text-align: center;
}

.gauge-inner-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
}

.gauge-inner {
}
